body {
  background: #ffffff;
  color: #19171c;
  box-sizing: border-box;
}

a, p {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: 0;
}

a {
  font-weight: 600;
  color: #E22903;
}

p {
  font-weight: 200;
  color: #0d2134;
  border-bottom: 1px solid #e8e8e6;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #2f4357;
  border-bottom: 2px solid #fa5333;
}

h2 {
  /* margin: 0px 0px 0px 10px; */
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


span {
  color: #E22903;
  margin-right: 10px;
}

/* p span {
  display: block;
} */

button {
  display: flex;
  align-items: center;
  width: 600px;
  padding: 0px;
  height: 60px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2f4357;

}

.wrapper {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.accordion {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0px;

}

.active + .description {
  display: block;
}

.active > .plus {
  display: none;
}

.active > .minus {
  display: inline;
}

.description {
  display: none;
  padding-top: 20px;
  border-bottom: 1px solid #e8e8e6;
  padding-bottom: 15px;
  width: 700px;
}

.fa {
  /* padding-top: 20px; */
  padding-left: 5px;
  line-height: 1;
  position: relative;
}

.minus {
  display: none;
}

.title:focus {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
}

#headingOne, #headingTwo, #headingThree {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #2f4357;
  padding-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

#headingOne, #headingThree {
  background-color: #e8e8e6;
}

#headingTwo {
  background-color: #f1f2f3;
}

#headingOne:hover, #headingTwo:hover, #headingThree:hover {
  cursor: pointer;
  background-color: #c4c4c4;
}
